@import url('https://fonts.cdnfonts.com/css/agraham');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@import "tailwindcss";


/* body {
    font-family: 'Gilroy-Medium', sans-serif;
} */

/* body{
    
    background-color: #fff6df;
} */

.Agraham{
    font-family: 'Agraham', sans-serif;
  }
